#logo {
  height: 200px;
  length: 200px;
  z-index: 1;
  float: right;
}
#pepperoniPicture {
  height: 200px;
  length: 200px;
}
#onionPicture {
  height: 200px;
  length: 200px;
}
#jalapenoPicture {
  height: 200px;
  length: 200px;
}
#bellPicture {
  height: 200px;
  length: 200px;
}
#orderSummary {
  display: none;
}
#totalAmount {
  display: none;
}
